<%- include("partials/header.ejs") %>

<body>
  <main>
    <form action="/submit" method="POST">
      <input type="text" name="post" placeholder="Write your post...">
     
      <input type="submit" value="OK">
    </form>
  </main>
</body>

<%- include("partials/footer.ejs") %>