body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color:#A2C579;
}

/* Style for the header */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Style for the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style for the main content area */
main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

h2{
  color: #D2DE32;
  text-align: center;
}
/* Style for the recent posts section */
#posts {
  width: 100%;
  background-color: #016A70;
}

/* Style for the create post section */
#create-post {
  width: 95%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
 
}

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  
}

/* Style for the input fields */
input[type="text"],
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Style for the delete and edit buttons */
.delete, .edit-button {
  display: inline-block;
  width: 150px;
  margin-bottom: 5px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 15px;

}

.delete {
  background-color: rgb(146, 19, 19);
}

.edit-button {
  background-color: #A2C579;
  height: 37px;
}

#create-post-btn{
  background-color: rgb(105, 165, 255);
  width: 50%;
  height: 37px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#create-post > form {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 5px;
}

ul{
  padding: 20px;
  padding-top: 0;
}

/* Style for the list items */
li {
  list-style: none;
  background-color: #FFFFDD;
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the list item headings */
li h3 {
  color: #333;
}

/* Style for the list item content */
li p {
  color: #666;
}
